---

import {randomNumber, createBlockStyle} from '../lib/utils.js';

const { layout } = Astro.props;

if (layout.blockType !== "Signup Module") return;

let adTheorentActivityId = layout?.adTheorentActivityId;
let buttonId = 'submitBtn'+randomNumber(100000)
let formId = 'SignupForm'+randomNumber(100000)

let style = createBlockStyle(layout)

---


<section id="join">
    <div class="container">
        <div class="block" style={style}>
            <Fragment set:html={layout?.copy_html} />
        </div>
        <div class="block">
            <p class="hidden" style="color: #CC503F" id="formError">An unexpected error has occurred. Please wait a few seconds and try again.</p>
            <h2 class="hidden" id="formCopySuccess">{layout?.postSubmitCopy || 'Thank you for registering for our Newsletter.'}</h2>
            <form class="form" id={formId}>
                <div class="form-row">
                    <div class="form-field" id='formFieldFirstName'>
                        <input class="form-input" id='first_name' placeholder=" " aria-label="First">
                        <label class="form-label">First</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field"  id='formFieldLastName'>
                        <input class="form-input" id='last_name' placeholder=" " aria-label="Last">
                        <label class="form-label">Last</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field"  id='formFieldEmail'>
                        <input class="form-input" id='email' placeholder=" " aria-label="Email">
                        <label class="form-label">Email</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field">
                        <input class="form-input" id='zip' placeholder=" " aria-label="Zip Code">
                        <label class="form-label">Zip Code</label>
                    </div>
                </div>
                <div class="form-row">
                    <input class="btn btn-primary" type="submit" id={buttonId} value="Sign up" aria-label="Sign up" />
                </div>
            </form>
        </div>
    </div>
</section>


<script is:inline define:vars={{ buttonId, formId, adTheorentActivityId }}>

    let signupFormBtn = document.querySelector("#"+buttonId)

    let signupSubmit = (event) => {

        event.preventDefault();

        triggerAdTheorentActivity(adTheorentActivityId);

        signupFormBtn.removeEventListener("click", signupSubmit);
        
        let _form = document.querySelector("#"+formId);

        let formObj  = {};
        formObj.first_name = _form.querySelector("#first_name"); 
        formObj.last_name = _form.querySelector("#last_name"); 
        formObj.email = _form.querySelector("#email"); 
        formObj.phone = _form.querySelector("#phone"); 
        formObj.zip = _form.querySelector("#zip"); 

        let postObject = {};

        postObject.b_bd2b7c32674adfc6fe730d103_7ee77c8ef8 = '';
        postObject.subscribe = 'Subscribe'
        postObject._ = '';

        postObject.FNAME = formObj.first_name.value;
        postObject.LNAME = formObj.last_name.value;
        postObject.EMAIL = formObj.email.value;
        postObject.MMERGE5 = formObj.zip.value;

        // error checking
        let errorCheck = 0;
        if (postObject.FNAME == "") {
            document.querySelector("#formFieldFirstName").classList.add('form-field-error');
            errorCheck = errorCheck + 1;
        } else {
            document.querySelector("#formFieldFirstName").classList.remove('form-field-error');
        }

        if (postObject.LNAME == "") {
            document.querySelector("#formFieldLastName").classList.add('form-field-error');
            errorCheck = errorCheck + 1;
        } else {
            document.querySelector("#formFieldLastName").classList.remove('form-field-error');
        }

        if (postObject.EMAIL == "") {
            document.querySelector("#formFieldEmail").classList.add('form-field-error');
            errorCheck = errorCheck + 1;
        } else {
            document.querySelector("#formFieldEmail").classList.remove('form-field-error');
        }

        function handleError(error) {
            console.log("API ERROR", error.message)
            document.getElementById("formError").classList.remove('hidden');
            signupFormBtn.addEventListener("click", signupSubmit);
        }

        function handleSuccess() {
            document.querySelector("#formCopySuccess").classList.remove('hidden');
            document.getElementById("formError").classList.add('hidden');
            document.getElementById(formId)?.classList?.add('hidden');
        }

        if (errorCheck == 0) {
            fetch('https://life.us14.list-manage.com/subscribe/post?u=bd2b7c32674adfc6fe730d103&id=6d19d3501b&f_id=00b940e0f0', {
                method: 'POST',
                body: new URLSearchParams(postObject)
            })
              .then(handleSuccess)
              .catch(handleSuccess)    // current form target always throws CORS error, but submission is successful

        } else {
            signupFormBtn.addEventListener("click", signupSubmit);
        }

        return false;
    }

    signupFormBtn.addEventListener("click", signupSubmit);

</script>